{% extends 'base.html.twig' %}

{% block title %}Médiathèque!{% endblock %}

{% block content %}
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        
        {% for page in pages %}
            <a href="{{path('livre',{id:page})}}" class="btn btn-info">{{page}}</a>
        {% endfor %}
        
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-0">Static Table</h5>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">N°</th>
                                <th scope="col">Livre</th>
                                <th scope="col">Année d'édition</th>
                                <th scope="col">Genre</th>
                                <th scope="col">Quantité</th>
                                <th scope="col">Auteur</th>
                                <th scope="col">Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for item in livre %}
                                
                            <tr>
                                <th scope="row">{{item.idl}}</th>
                                <td>{{item.noml}}</td>
                                <td>{{item.annee_edition}}</td>
                                <td>{{item.genre}}</td>
                                <td>{{item.quantite}}</td>
                                <td>{{item.auteur}}</td>
                                <td>
                                    <a class="btn btn-success" href="{{path('forGiveLivre',{id:item.idl})}}"><i class="fa fa-shopping-cart"></i></a>
                                    <a class="btn btn-warning" href="{{path('getLivre',{id:item.idl})}}"><i class="fa fa-edit"></i></a>
                                    <a class="btn btn-warning" href="{{path('history',{id:item.idl})}}"><i class="fa fa-clock"></i></a>
                                    <a class="btn btn-danger" href="{{path('deleteLivre',{id:item.idl})}}"><i class="fa fa-university"></i></a>
                                </td>
                            </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer text-center">
            All Rights Reserved by Matrix-admin. Designed and Developed by
            <a href="https://www.wrappixel.com">WrapPixel</a>.
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
    
    {% endblock %}